[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
Scrapy = "*"
Scrapy-Pipelines = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
tox = "*"
ipython = "*"
