bandit
black
flake8
ipython
isort
mypy
pre-commit
pylint
pytest==5.3.0
pytest-benchmark
pytest-black
pytest-cov
pytest-env
pytest-instafail
pytest-mypy
pytest-pycharm
pytest-pylint
pytest-sugar
pytest-twisted
pytest-watch
pytest-xdist
radon
tox
